<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addInfor" method="post" >
    姓名：<input type="text" name="name" value=""> <br>
    年龄：<input type="text" name="age" value=""> <br>
    爱好：<input type="text" name="hobby" value=""> <br>
    语文：<input type="text" name="yuwen" value=""> <br>
    数学：<input type="text" name="shuxue" value=""> <br>
    <input type="submit" name="addBtn" value="添加">
</form>
</body>
</html>