<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <th rowspan="2" width="50">姓名</th>
            <th rowspan="2" width="50">年龄</th>
            <th rowspan="2" width="50">爱好</th>
            <th colspan="2">成绩</th>
        </tr>
        <tr>
            <td width="50">语文</td>
            <td width="50">数学</td>
        </tr>
        <tr>
            <td>12</td>
            <td>22</td>
            <td>222</td>
            <td>3</td>
            <td>3</td>
        </tr>
    </table>
</body>
</html>